@charset "UTF-8";

*{margin:0; padding:0; box-sizing:border-box; list-style-position:inside;}
body{font-family:'Roboto', sans-serif; line-height:1.4; font-size:16px; color:#252525;}
h1, h2, h3, h4, h5, h6{font-family:'Roboto', sans-serif;}
img{max-width:100%; display:inline-block;}
:focus{outline:0;}

@media (min-width: 1200px){
.container{max-width: 1300px;}
}

.top_head{width:100%; padding:7px 0; border-bottom:1px #e5e5e5 solid;}
.top_head .container{display:flex; align-items:center; justify-content:space-between; flex-wrap:wrap;}
.top_head .left_side{display:flex; align-items:center;}
.top_head span{font-size:13px; color:#777; padding-right:10px; margin-right:10px; border-right:1px #e4e4e4 solid;}
.top_head p{font-size:15px; font-weight:500; color:#b01311; margin-bottom:0;}
.top_head .right_side{display:flex; align-items:center;}
.top_head .right_side ul{margin:0; list-style:none; display:flex; align-items:center;}
.top_head .right_side ul li{font-size:13px; color:#777; border-right:1px #e4e4e4 solid; padding:0 10px;}
.top_head .right_side ul li:last-child{border-right:0; padding-right:0;}
.top_head .right_side ul li a{color:#777;}
.top_head .right_side ul li a:hover{color:#b01311; text-decoration:none;}
.top_head .right_side ul li select{color:#777; -webkit-appearance:none; -moz-appearance:none; appearance:none; border:0; background:url(../img/currency_arrow.png) no-repeat right center; padding-right:10px;}

.header{width:100%; padding:35px 0;}
.header .container{display:flex; align-items:center; justify-content:space-between; flex-wrap:wrap;}
.head_search{width:49%; display:flex; flex-wrap:wrap;}
.head_search select{width:150px; padding:10px 35px 10px 20px; border:1px #e5e5e5 solid; -webkit-appearance:none; -moz-appearance:none; appearance:none; background:url(../img/head_search_arrow.png) no-repeat right 20px center; font-size:14px; color:#545454;}
.head_search_box{width:calc(100% - 150px); position:relative;}
.head_search_box input{width:100%; border:1px #e5e5e5 solid; font-size:14px; color:#545454; padding:10px 60px 10px 20px; border-left:0;}
.head_search_box input::-webkit-input-placeholder{color:#b6b6b6; opacity:1;}
.head_search_box input:-ms-input-placeholder{color:#b6b6b6; opacity:1;}
.head_search_box input::placeholder{color:#b6b6b6; opacity:1;}
.head_search_box a{position:absolute; right:0; top:0; width:50px; height:100%; display:flex; align-items:center; justify-content:center;}
.cart{position:relative;}
.cart a{position:relative;}
.cart a span{position:absolute; right:-18px; top:-13px; display:flex; align-items:center; justify-content:center; width:20px; height:20px; border-radius:50%; background:#b01311; color:#FFF;}

.navigation{width:100%; background:#b01311;}
.navigation .navbar{padding:0;}
.navigation .navbar-collapse{justify-content:center;}
.navigation .navbar-light .navbar-nav .nav-link{color:#FFF; text-transform:uppercase; font-size:14px; padding:14px 30px; position:relative;}
.navigation .navbar-light .navbar-nav .nav-link.blazer_nav{color:#f0ff04; font-weight:700;}
.navigation .navbar-light .navbar-nav .nav-link:hover:after{content:""; position:absolute; left:0; bottom:0; width:100%; height:4px; background:#FFF;}

.banner{width:100%;}
.bn_slider{margin:0; list-style:none;}
.bn_slider li{width:100%; background-position:center center; background-repeat:no-repeat; background-size:cover;}
.b_info{width:60%; display:flex; align-items:center; padding:60px 0; min-height:450px;}
.b_info_cont h2{font-size:35px; color:#252525; font-weight:300;}
.btn1{display:inline-block; font-size:16px; color:#FFF; font-weight:700; text-transform:uppercase; background:#110353; padding:12px 20px; border-radius:5px; transition:all 0.3s;}

.category_home{width:100%; display:flex; flex-wrap:wrap;}
.category_home .cont_wrap{width:50%; min-height:70vh; padding:60px 40px; display:flex; justify-content:center; align-items:center; background:#f1f1f1;}
.category_home .cat_cont{width:100%; max-width:500px; text-align:center;}
.heading1{font-size:35px; color:#000; font-weight:300;}
.category_home .cat_cont h3{font-size:20px; color:#000; font-weight:500; padding:15px 0 10px 0;}
.category_home .cat_cont p{font-size:14px; color:#000; line-height:1.6;}
.btn1.black{background:#000;}
.category_home .img_wrap{width:50%; background-position:center center; background-repeat:no-repeat; background-size:cover;}
.category_home.opposite .cont_wrap{background:#b01311;}
.category_home.opposite .cat_cont h3{color:#FFF;}
.category_home.opposite .cat_cont p{color:#FFF;}
.btn1.white{background:#FFF; color:#b01311;}
.heading1.white{color:#FFF;}

.comm_Sec{width:100%; padding:60px 0;}
.sub_h1{display:block; font-size:16px; color:#747474; font-weight:400; margin-top:10px;}
.fer_pro{background:#f7f7f7;}
.product_box{margin:20px 0 0 0; list-style:none; display:flex; flex-wrap:wrap;}
.product_box li{width:calc(20% - 30px); padding:12px; position:relative; margin:15px; background:#FFF; box-shadow:0 0 17px rgba(0, 0, 0, 0.16);}
.product_box li .img_wrap{overflow: hidden; position: relative; padding-bottom: 120%;}
.product_box li .img_wrap img{position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); width: auto; height: auto; max-width: 100%; max-height: 100%;}
.product_box li .cont_wrap{padding:15px 0 15px 0;}
.product_box li .cont_wrap h5{font-size:15px; color:#2c2c2c; font-weight:400; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.color_price{display:flex; flex-wrap:wrap; padding-top:5px;}
.pro_color{width:calc(100% - 60px); padding-right:10px; display:flex; align-items:center; flex-wrap:wrap;}
.pro_color span{width:22px; height:22px; border-radius:2px; margin:0 5px 5px 0; border: 1px rgba(0, 0, 0, 0.1) solid;}
.pro_color p{font-size:15px; color:#2c2c2c; font-weight:500; margin:0;}
.pro_price{font-size:19px; color:#131313; font-weight:700; text-align:right; width:60px;}
.product_box li a{position:absolute; left:0; top:0; width:100%; height:100%; z-index:1;}

.category_box{margin:20px 0 0 0; list-style:none; display:flex; flex-wrap:wrap;}
.category_box li{width:calc(16.66% - 18px); position:relative; margin:9px; background-position:center center; background-repeat:no-repeat; background-size:cover; padding-top:9.5%;}
.category_box li:before{content:""; position:absolute; left:0; top:0; width:100%; height:100%; background:#000; opacity:0.85; transition:all 0.5s;}
.category_box li:after{content:""; position:absolute; left:0; top:0; width:100%; height:100%; border:1px #FFF solid; opacity:0; transition:all 0.5s;}
.category_box li .cont_wrap{position:absolute; width:100%; left:0; top:50%; transform:translateY(-50%); float:left; text-align:center; padding:15px; z-index:2;}
.category_box li .cont_wrap h5{font-size:16px; color:#FFF; font-weight:500; margin-bottom:0;}
.category_box li .cont_wrap a{font-size:12px; color:#ffe400;}
.cat_box_link{padding-top:2px; height:0; overflow:hidden; transition:all 0.5s;}
.category_box li:hover .cat_box_link{height:24px;}
.category_box li:hover:before{background:#171a65;}
.category_box li:hover:after{left:10px; top:10px; width:calc(100% - 20px); height:calc(100% - 20px); opacity:1;}

.mission{background:#f7f7f7;}
.mission p{font-size:13px; line-height:1.9;}

.footer{width:100%; background:#f7f7f7; padding:30px 0; background:#252525;}
.social_footer{display:flex; align-items:center; justify-content:center;}
.social_footer a{margin:0 5px;}
.foot_nav{margin:0; padding:0; text-align:center; list-style:none; margin-top:25px;}
.foot_nav li{display:inline-block; font-size:16px; color:#FFF; font-weight:300;}
.foot_nav li span{margin:0 20px;}
.foot_nav li a{color:#FFF;}
.foot_nav li a:hover{color:#b01311; text-decoration:none;}

.breadcrumb{width:100%; background:#f0f0f0; margin:0; padding:9px 0;}
.breadcrumb ul{margin:0; list-style:none;}
.breadcrumb ul li{display:inline-block; font-size:12px; color:#b01311; text-transform:uppercase; font-weight:500;}
.breadcrumb ul li i{margin:0 8px 0 10px; color:#000;}
.breadcrumb ul li a{color:#000;}
.breadcrumb ul li a:hover{color:#b01311; text-decoration:none;}
.shop_by{width:100%; display:flex; align-items:center; margin:40px 0;}
.shop_by span{font-size:16px; color:#000; text-transform:uppercase; width:70px;}
.shop_by_input{width:calc(100% - 70px); display:flex; align-items:center;}
.inputfield{font-size:16px; color:#333; border:1px #cbcbcb solid; padding:7px 15px; width:100%;}
select.inputfield{-webkit-appearance:none; -moz-appearance:none; appearance:none; padding-right:40px; background:url(../img/select_arrow.png) no-repeat right 20px center; color:#6e6e6e;}
.shop_by_input .inputfield{margin-left:20px;}
.cat_bn{width:100%; display:flex; flex-wrap:wrap; box-shadow:0 10px 10px rgba(0, 0, 0, 0.1);}
.cat_bn .left_side{width:50%; display:flex; padding:60px; min-height:345px; background:#f5f5f5; position:relative; align-items:center;}
.cat_bn .left_side:after{content:""; position:absolute; left:20px; top:20px; width:calc(100% - 40px); height:calc(100% - 40px); border:7px #716998 solid;}
.cat_bn .left_side .cont_wrap{text-align:center; width:100%;}
.cat_bn .left_side .cont_wrap h2{font-size:35px; color:#2c2c2c;}
.cat_bn .right_side{width:50%; background:url(../img/cat_bn_bg.jpg) no-repeat center center / cover;}
.pro_with_cat{width:100%; display:flex; flex-wrap:wrap;}
.pro_with_cat .left_side{width:60%;}
.pro_with_cat .left_side .product_box{margin-top:0;}
.pro_with_cat .left_side .product_box li{width:calc(33.33% - 30px);}
.pro_with_cat .right_side{width:40%; padding:15px;}
.pro_with_cat .right_side .img_wrap{background-repeat:no-repeat; background-position:center center; background-size:cover; height:100%;}
.pro_with_cat .right_side .cont_wrap{background:#FFF; padding:0 20px; text-align:center; display:inline-block; width:100%; position:absolute; left:0; bottom:0; background:#FFF; z-index:1;}
.pro_with_cat .right_side .big_Cat.top .cont_wrap{bottom:inherit; top:0;}
.pro_with_cat .right_side .cont_wrap p{font-size:14px; color:#797979; line-height:1.7; margin-top:20px;}
.pro_with_cat .right_side .cont_wrap .btn1.sm{margin-bottom:20px;}
.btn1.sm{font-size:11px;}
.big_Cat{box-shadow:0 0 17px rgba(0, 0, 0, 0.16); height:100%; overflow:hidden; position:relative;}
.cat_product{background:#f7f7f7; position:relative; padding-bottom:60px;}
.cat_product .container{position:relative; z-index:1;}
.cat_product:before{content:""; position:absolute; left:0; top:0; width:100%; height:100px; background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,0.5) 50%, rgba(255,255,255,0) 100%); background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.5) 50%,rgba(255,255,255,0) 100%); background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.5) 50%,rgba(255,255,255,0) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );}
.cus_pagi .page-link{padding:0; width:24px; height:24px; display:flex; align-items:center; justify-content:center; background:#eaeaea; border:0; border-radius:3px; margin:0 3px; font-size:13px; color:#000;}
.cus_pagi .page-item.active .page-link{background:#b01311; color:#FFF;}
.cus_pagi .page-link:hover{background:#b01311; color:#FFF;}
.cus_pagi{display: flex; flex-wrap: wrap; justify-content: center; margin-top: 40px;}
.cus_pagi .prev .page-link, .cus_pagi .next .page-link{background:none; color:#d1d1d1; font-size:30px;}
.cus_pagi .prev .page-link:hover, .cus_pagi .next .page-link:hover{color:#b01311;}
.view_all_pro{text-align:center; width:100%;}
.view_all_pro a{font-size:14px; color:#4e4e4e; text-decoration:underline;}
.view_all_pro a:hover{color:#b01311; text-decoration:none;}

.in_cat_fil{width:100%; display:flex; flex-wrap:wrap; margin:50px 0 25px 0; align-items:flex-start;}
.in_cat_fil .left_side{width:50%;}
.in_cat_fil .right_side{width:50%; display:flex; flex-wrap:wrap; margin-top:6px;}
.in_cat_fil .right_side select{width:calc(50% - 45px); margin-left:45px;}

.product_detail{padding:50px 0; width:100%;}
.pro_det{width:100%; display:flex; flex-wrap:wrap; padding:30px 0 0 0; align-items:flex-start;}
.pro_det .left_side{width:40%; padding:15px 50px; border:1px #acacac solid; position:relative;}
.pro_sl{margin:0; list-style:none; position:relative;}
.pro_sl li{width:100%;}
.pro_sl li img{width:100%; float:left;}
.pro_sl .slick-prev{width:24px; height:25px; font-size:0; border:0; position:absolute; left:-38px; top:50%; transform:translateY(-50%); background:url(../img/pro_sl_left.png) no-repeat left top; cursor:pointer;}
.pro_sl .slick-next{width:24px; height:25px; font-size:0; border:0; position:absolute; right:-38px; top:50%; transform:translateY(-50%); background:url(../img/pro_sl_right.png) no-repeat left top; cursor:pointer;}
.pro_sl_cl{width:36px; position:absolute; right:8px; bottom:15px; list-style:none; margin:0;}
.pro_sl_cl li{width:100%; display:inline-block;}
.pro_sl_cl li a{float:left; width:36px; height:36px; border-radius:4px;}
.pro_det .right_side{width:60%; padding-left:20px;}
.pro_det .right_side .head{display:flex; flex-wrap:wrap; align-items:center;}
.pro_det .right_side .head_left{width:50%;}
.pro_det .right_side .head_left .heading1{margin-bottom:0;}
.pro_det .right_side .head_left h4{font-size:25px; color:#2c2c2c; font-weight:700;}
.pro_det .right_side .head_right{width:50%;}

.rating-form .form-group {position: relative; border: 0; margin:0;}
.rating-form .form-legend {display: none; margin: 0; padding: 0; font-size: 20px; font-size: 2rem;}
.rating-form .form-item {position: relative; margin: auto; text-align: right; direction: rtl;}
.rating-form .form-legend + .form-item {padding-top: 0;}
.rating-form input[type='radio'] {position: absolute; left: -9999px;}
.rating-form label {display: inline-block; cursor: pointer; margin-bottom:0;}
.rating-form .rating-star {display: inline-block; position: relative; color:#cccccc;}
.rating-form input[type='radio']:checked + label:before {right: 25px; opacity: 1;}
.rating-form input[type='radio']:checked + label:after {opacity: 1;}
.rating-form label .fa {font-size: 20px;}
.rating-form label:hover .fa-star.grey, .rating-form label:focus .fa-star.grey, .rating-form label:hover ~ label .fa-star.grey, .rating-form label:focus ~ label .fa-star.grey, .rating-form input[type='radio']:checked ~ label .fa-star.grey {opacity: 0;}
.rating-form label .fa-star.gold {position: absolute; left: 0; top: 0; opacity: 0;}
.rating-form label:hover .fa-star.gold, .rating-form label:focus .fa-star.gold, .rating-form label:hover ~ label .fa-star.gold, .rating-form label:focus ~ label .fa-star.gold, .rating-form input[type='radio']:checked ~ label .fa-star.gold {opacity: 1;}
.rating-form input[type='radio']:checked ~ label .fa-star.gold {color:#b01311;}
.rating-form .ir {position: absolute; left: -9999px;}
.rating-form .form-action {opacity: 0; position: absolute; left: 5px; bottom: -40px;}
.rating-form input[type='radio']:checked ~ .form-action {cursor: pointer; opacity: 1;}
.rating-form .btn-reset {display: inline-block; margin: 0; padding: 4px 10px; border: 0; font-size: 10px; font-size: 1rem; background: #fff; color: #333; cursor: auto; border-radius: 5px; outline: 0;}
.rating-form .btn-reset:hover, .rating-form .btn-reset:focus {background:#b01311;}
.rating-form input[type='radio']:checked ~ .form-action .btn-reset {cursor: pointer;}
.rating-form .form-output {display: none; position: absolute; right: 15px; bottom: -45px; font-size: 30px; font-size: 3rem; opacity: 0;}
.no-js .rating-form .form-output {right: 5px; opacity: 1;}
.rating-form input[type='radio']:checked ~ .form-output {right: 5px; opacity: 1;}

.pro_dea_fil{margin-top:25px;}
.pro_det .right_side .head_right .social_footer{justify-content:flex-end; margin-top:5px;}
.comm_label{font-size:16px; color:#000; margin-bottom:5px; display:block;}
.inputfield.sm{font-size:14px; padding:8px 30px 8px 10px; background-position:center right 10px;}
.pro_dea_fil .qty .inputfield{max-width:70px;}
.btn1.big{font-size:20px; padding:12px 30px;}
.pro_det .right_side .btn1.big{min-width:230px; text-align:center;}
.pro_det_dec{margin-top:20px;}
.pro_det_dec p{font-size:16px; line-height:1.8; color:#000; font-weight:300;}
.pro_det_dec ul{margin:0; list-style:none; display:flex; flex-wrap:wrap;}
.pro_det_dec ul li{width:50%; font-size:16px; color:#000; font-weight:300; margin-top:5px;}

.cart_page .head{display:flex; align-items:center; flex-wrap:wrap; justify-content:space-between; margin-bottom:10px;}
.cart_page .head .heading1{margin:0;}
.cart_page .head .right_side span{font-size:16px; color:#2c2c2c; margin-right:5px;}
.dont_forgot{width:100%; display:flex; flex-wrap:wrap;}
.dont_forgot .left_side{width:50%;}
.dont_forgot .left_side .product_box li .cont_wrap{text-align:center; padding-bottom:0;}
.dont_forgot .left_side .product_box li{width:calc(33.33% - 20px); margin:10px;}
.dont_forgot .left_side .product_box li a.btn1{position:static; width:auto; margin-top:5px;}
.est_mnt_fee{display:flex; align-items:center; justify-content:center; margin-top:50px;}
.est_fee_box{position:relative; padding:15px; width:100%; max-width:570px;}
.est_fee_box:before{content: ""; position: absolute; width: 100%; height: 100%; background: url(../img/est_mnt_bg.png) left top; left: 0; top: 0; border-radius: 50px;}
.est_fee_box .cont_box{width: 100%; min-height:350px; border-radius: 34px; position: relative; background:#f4f4f4 url(../img/satisfaction_bg.png) repeat top left; z-index: 2; padding:50px; display:flex; align-items:center;}
.est_fee_box .cont_box ul{margin:0; list-style:none;}
.est_fee_box .cont_box ul li{display:flex; align-items:center; font-size:26px; color:#261a63; margin-bottom:30px;}
.est_fee_box .cont_box ul li:last-child{margin-bottom:0;}
.est_fee_box .cont_box ul li img{width:46px;}
.est_fee_box .cont_box ul li span{width:calc(100% - 46px); padding-left:20px;}
.dont_forgot .right_side{width:calc(50% - 10px); box-shadow:0 0 17px rgba(0, 0, 0, 0.16); margin:10px 0 0 10px;}
.cart_detail{width:100%; display:flex;}
.cart_box{width:100%; list-style:none; margin:0;}
.cart_detail .cart_box{width:65%;}
.cart_box>li{padding:20px 20px 30px 20px; display:flex; flex-wrap:wrap;}
.cart_box>li:last-child{padding-bottom:0;}
.cart_box>li .cont_wrap{width:calc(100% - 105px); padding-right:15px;}
.cart_box>li h4{width:100%; position:relative; font-size:15px; color:#110353; font-weight:400; text-decoration:underline; padding-right:90px;}
.cart_box>li h4 .pr{position:absolute; right:0; top:0; color:#b01311; text-decoration:none; width:80px; text-align:center;}
.cart_box>li h4 .pr .del{position:absolute; right:30px; top:calc(100% + 10px);}
.cart_box>li .cont_wrap ul{margin:0; list-style:none; width:calc(100% - 80px);}
.cart_box>li .cont_wrap ul li{font-size:14px; color:#222222; margin-top:5px; font-weight:300;}
.cart_box>li .img_wrap{width:105px;}
.cart_box>li .img_wrap img{width:100%;}
.go_checkout{width:35%; background:#ededed; padding:20px;}
.go_checkout p{font-size:15px; color:#000;}
.go_checkout .free_ship{font-size:13px; color:#261a63; text-decoration:underline;}
.cl_red{color:#b01311;}
.add_promo{font-size:13px; color:#261a63; text-decoration:underline;}
.add_promo:hover{color:#b01311; text-decoration:none;}
.btn1.red{background:#b01311; border-color:transparent; color:#FFF;}
.btn_check{margin:30px 0;}
.conti_shop{text-align:right;}
.conti_shop a{font-size:13px; color:#373737; text-decoration:underline;}
.conti_shop a:hover{color:#b01311; text-decoration:none;}
.cart_btns{padding:30px 12px; display:flex;}
.cart_btns a{width:calc(33.33% - 16px); margin:0 8px; font-size:14px; font-weight:400; text-align:center; border:1px #acacac solid; background:none; color:#606060; text-transform:uppercase;}
.cart_btns a:hover{border-color:transparent;}
.cart_pop{width:300px; box-shadow:0 0 17px rgba(0, 0, 0, 0.16); position:absolute; right:0; top:calc(100% + 10px); background:#FFF; z-index:5; display:none;}
.cart_pop .cart_box>li{padding:20px; border-bottom:1px #e5e5e5 solid;}
.cart_pop .cart_box>li .cont_wrap{width:calc(100% - 96px);}
.cart_pop .cart_box>li .img_wrap{width:96px;}
.cart_pop .cart_box>li .cont_wrap ul{width:100%;}
.cart_pop .cart_box>li h4 .pr{text-align:right;}
.cart_pop .subtotal{display:flex; justify-content:space-between; font-size:14px; color:#222; padding:20px; border-bottom:1px #e5e5e5 solid;}
.cart_pop .free_ship{font-size: 13px; color: #261a63; text-decoration: underline; text-align:center; padding:20px 0;}
.cart_pop .cart_btns{padding-top:0; padding-bottom:20px; border-bottom:1px #e5e5e5 solid;}
.cart_pop .cart_btns a{width:calc(50% - 4px); margin:0 2px; padding:10px 10px;}
.complete_look{padding:15px 0;}
.complete_look p{font-size:15px; color:#110353; text-align:center; margin-bottom:10px;}
.complete_look ul{display:flex; margin:0; list-style:none; padding:0 8px;}
.complete_look ul li{width:calc(25% - 4px); margin:0 2px;}
.complete_look ul li img{width:100%;}


/***************Register************/
 .register-left{ background:url(../img/register-bg.png)no-repeat; padding:40px 40px 80px; float: left;
    width: 100%; }
    .register-head{ text-align: center; }
    .register-head p{ color: #fff; font-size: 16px; font-weight: 600; line-height: 25px; font-weight: 600; margin-top: 10px; }
    .register-head{ margin-bottom:30px; }
    .register-section { padding: 80px 0px;}
    .register-text h3{ font-size: 18px; font-weight: bold; line-height: 22px; color: #fff; }
    .register-text p{ font-size: 14px; font-weight: 600; line-height: 22px; color: #fff; }
    .register-icon i{ font-size: 20px; color: #fff; }
    .register-list li { float: left; padding:20px 0px;}
    .register-btn a{ color: #fff; font-size: 15px; display: inline-block; margin-top: 40px; font-weight: 600; }
    .register-btn i{ padding-right:10px; }
    .form-head h3{ font-size: 19px; font-weight: bold; color: #a81c10; line-height: 22px; }
    .form-head{ text-align: center; }
    .register-right {
    background: #fff;
    box-shadow: 0px 0px 6px #ddd;
    padding: 20px 20px;
    margin: 20px auto 20px -60px;
    float: left;
    width: 100%;
}
.register-tab .icon {
  position: relative;
  float: left;
  margin-left: 10px;
  margin-top: -33px;
  z-index: 2;
  color: #222;
}

.register-left ul{ padding: 0px; list-style: none; }
 .register-tab p a{ font-weight: 600; color: #a81c0f; float: right; }
    button.btn.btn-default.reg-btn {
    background: #a81c10;
    border: none;
    margin: 30px auto 0px;
    padding: 15px 40px;
    border-radius: 30px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

.register-tab .form-control {
    padding: 10px 35px;
    height: 54px;
    width: 98%;
}

.checkbox{ float: left; display: inline-block; }
.product-pagination {
    text-align: center;
    margin: 40px auto;
}
.product-pagination a{ color: #fff; background: #af1a10; transition: all ease-in-out 0.4s; -moz-transition: all ease-in-out 0.4s; -ms-transition: all ease-in-out 0.4s; -webkit-transition: all ease-in-out 0.4s; }


.inner-banner img {
    width: 100%;
}




/***************Checkout************/
.matte_pro{width:100%; float:left; margin:0; padding:0; list-style:none;}
.matte_pro li{width:100%; float:left; padding-bottom:30px; margin-bottom:30px; border-bottom:1px #ccc solid;}
.matte_pro li:last-child{border:0; margin:0; padding:0;}
.matte1-img{background-color: #fff; box-shadow: 0px 0px 4px #848282; float: left; margin-right: 18px;}
.matte-text {float: left; width: 54%;}
.cross h4{font-size: 35px; font-weight: 900; color: #a40f0f; letter-spacing: -2px; line-height: 1.2; float:left;}
.cross .fa{padding: 15px 10px 15px 15px}
.cross a{box-shadow: 0px 0px 3px #333333; padding: 5px; color:#5e5e5e; font-size: 14px; text-decoration: none;}
.boxes{margin-top: 5px;}
.boxes .boxes1{background-color: #a40f0f; color: #fff; font-size: 13px; text-transform: uppercase; padding: 5px 10px; text-decoration: none; margin-right: 8px;}
.boxes .boxes2{background-color: #d7d7d7; color: #fff; font-size: 13px; text-transform: uppercase; padding: 5px 10px; text-decoration: none;}
.boxes .boxes1 .fa{padding-right: 8px;}
.boxes .boxes1 .fas{padding-right: 8px;}
.boxes .boxes2 .fa{padding-right: 8px;}	 
.summary h4{background-color: #a40f0f; color: #fff;	text-align: center;	font-size: 16px; line-height: 39px;	font-weight: bold;}
.check a{background-color: #a40f0f; color: #fff; text-transform: uppercase; text-decoration: none; padding: 0px 25px; float: right; font-size: 15px; line-height: 39px;}
.news-form{float: left; width: 100%; margin-bottom: 20px;}
.news-form p{font-size: 14px; line-height: 39px;}
.news-form .input-group {margin: 0px auto; width: 100%;}
input.btn.btn-lg {width:calc(100% - 99px); height: 35px; border: 2px solid #c1c1c1; border-radius: 0;}
button.btn {height: 37px; border-radius: 0; background-color: #a40f0f;}
.btn-info{height: 37px; border-radius: 0; background-color: #a40f0f;border-color: #a40f0f;}
.btn-info:hover{background-color: #a40f0f; border-color: #a40f0f;}
.btn-group-lg>.btn, .btn-lg {padding: 0px 17px;}
	
/***************Dashboard************/
.dashboard{width:100%; padding:60px 0;}
.dashboard .container{display:flex; flex-wrap:erap;}
.dashboard .dash_menu{width:250px; background:#f9f9f9; min-height:250px;}
.dashboard .dash_menu h4{background:#af1311; color:#FFF; padding:8px 15px; font-size:20px; margin-bottom:0;}
.dashboard .dash_menu ul{margin:0; padding:0; list-style:none;}
.dashboard .dash_menu ul li{font-size:14px; padding:10px 15px; border-top:1px rgba(0, 0, 0, 0.1) solid;}
.dashboard .dash_menu ul li:first-child{border-top:0;}
.dashboard .dash_menu ul li a{color:#000;}
.dashboard .dash_menu ul li a:hover{color:#af1311;}
.dashboard .dash_cont{width:calc(100% - 250px); padding-left:50px;}
.form-control.inputfiled{width: 100%; padding: 10px; margin-bottom: 20px; background: #f5f5f5; border: 1px solid #ccc; box-shadow: none; margin-bottom:0;}
.dashboard .dash_cont h2 {color: #af1212; font-size: 28px; font-weight: 900; margin-bottom: 5px; letter-spacing: -1px; border-bottom:1px #ccc solid; margin-bottom:20px; padding-bottom:10px;}

/***************Order************/
.manage2{border: 2px solid #ececec; background-color: #fff; padding: 20px 10px 0px; margin-top: 16px; overflow: hidden; box-shadow: 0 0 2px #ececec;}
.manage-img{border: 1px solid #ececec; background-color: #fff; padding: 12px 5px; float: left; margin-right: 13px;}
.manage-img img{width: 100%;}
.manage-content{margin-left: 150px;}
.manage-content .m-content1 h3{font-size: 15px; font-weight: 900; color: #000; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; letter-spacing: -0.8px; margin-top: 5px;}
.manage-content .m-content2 p{font-size: 35px; font-weight: 900; color: #a40f0f; letter-spacing: -2px; line-height: 1.2;}
.manage-content .m-content2 p span{color: #ff3701; padding-left: 10px;}
.manage-content .m-content-buy{margin-top: 25px;}
.manage-content .m-content-buy a{font-size: 15px; text-transform: uppercase; font-weight: 600; color:#fff; background-color: #ff3701; padding: 10px 18px; text-align: center; text-decoration: none;}
.manage-content .m-content-buy a:hover{background-color: #39b5a1; margin-left: 5px;}
.m-content-er{float: right;}
.manage-content .m-content-er a{font-size: 13px; text-transform: uppercase; font-weight: 600; text-decoration: none; color: #000;}
.manage-content .m-content-er .edit-space{margin-right: 10px;}
.manage-content .m-content-er a .fa{color: #ff3701; padding-right: 5px;}
.m-order{background-color: #f9f9f9; border:1px solid #ccc; float: left; width: 100%; margin-top: 8px;}
.m-order ul{margin-bottom: 0;}
.m-order1{text-transform: uppercase; float: left;}
.m-order1 ul{padding: 8px 14px; list-style-type: none; font-size: 14px; color: #000; line-height: 20px;}
.m-order1 ul .order-number{font-weight: bold;}
.m-total1{text-transform: uppercase; float: left; margin-left: 30px;}
.m-total1 ul{padding: 8px 14px; list-style-type: none; font-size: 14px; color: #000; line-height: 20px;}
.m-order-detail1{float: right;}
.m-order-detail1 ul{padding: 12px 14px; list-style-type: none;}
.m-order-detail1 .list-inline>li {padding-top: 7px;}
.m-order-detail1 .order-col{text-transform: uppercase; background-color: #af1311; color: #fff; font-size: 13px; padding: 7px 10px; font-weight: 600;}
.m-order-detail1 .order-col:hover {cursor:pointer;}
.m-order-detail1 .invoice{color: #ea0909; font-size: 14px;}
.m-order-detail1 .invoice::before{content: "|"; padding-right: 8px; color: #5e5e5e;}
.m-order-detail1 .invoice::after{content:"\f107"; font-family: FontAwesome; color: #777; padding-left: 6px; font-weight: bold;cursor: pointer;}
.delivered-status{float: left; width: 100%; margin: 6px 0; padding: 0 10px; border-bottom: 1px solid #cfcfce; padding-bottom: 5px;}
.delivered-status .status-left{font-size: 13px; line-height: 22px; font-weight: 600; float: left;}
.delivered-status .status-right{font-size: 13px; line-height: 22px; font-family: 'HelveticaLTStd-Roman'; float: right;}
.manage2 .status-bg-line{background: #100353; height: 3px; width: 100%; float: left; position: relative; margin-top: 20px; margin-bottom: 60px;}
.manage2 .delivered-step{width: 100%; float: left; position: relative;}
.manage2 .delivered-step ul li{width: 33.3%; float:left; text-align: center; padding-top: 16px; text-transform: uppercase; font-size: 15px;}
.manage2 .delivered-step ul li:nth-child(2)::before{width: 30px; height: 30px; top: -14px; margin-left: 26px; border-radius: 50%; background:#100353; border: #fff 6px solid; content: ""; position: absolute; }
.manage2 .delivered-step ul li:nth-child(1){text-align: left;} 
.manage2 .delivered-step ul li:nth-child(1)::before{width: 30px; height: 30px; top: -14px; border-radius: 50%; background:#100353; border: #fff 6px solid; content: ""; position: absolute; }
.manage2 .delivered-step ul li:nth-child(3){text-align: right;}
.manage2 .delivered-step ul li:nth-child(3)::before{width: 30px; height: 30px; top: -14px; right: 0; border-radius: 50%; background:#100353; border: #fff 6px solid; content: ""; position: absolute; }
.btn1.grey{background:#CCC;}

.seller_list{margin:0; list-style:none;}
.seller_list li{width:100%; display:inline-block; margin:15px 0;}
.seller_list li .img_wrap{width: 110px; float: left;}
.seller_list li .img_wrap img{width:100%;}
.seller_list li .cont_wrap{width:calc(100% - 110px); float: left; padding-left:10px;}
.seller_list li .cont_wrap h5{font-size:15px; font-weight:900; color:#000; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; letter-spacing:-0.8px; margin-top:5px;}
.seller_list li .cont_wrap span{font-size:35px; font-weight:900; color:#a40f0f; letter-spacing:-2px; line-height:1.2;}
.dashboard .dash_cont .seller_list li .cont_wrap span{display: block; margin-bottom: 10px;}
.dashboard .dash_cont .seller_list li .cont_wrap{padding-left: 20px;}
.dashboard .dash_cont .seller_list li {margin:0; padding: 15px;}
.dashboard .dash_cont .seller_list li:nth-child(odd){background: #f9f9f9;}

/*************Blog-section*************/
.blog-img img {width: 100%;}
.blog-text li{ display: inline-block; padding:10px; font-size: 15px; color: #555; }
.blog-text ul{ list-style: none; padding:0px; margin:0 auto; }
.blog-text i{ padding-right: 5px; }
.blog-text li:last-child{ float: right; }
.blog-text h3{ font-size: 30px; line-height: 36px; color: #222;letter-spacing: 0.5px; }
.blog-text p{ font-size: 16px; line-height: 27px; color: #222;letter-spacing: 0.5px; }
.blog-text a{ color: #af1a10; font-size: 17px; line-height: 27px; padding-left: 10px; }
.search-sec {border: 1px solid #f6f6f6; box-shadow: 0px 0px 5px #f7f1f1;padding: 10px; float: left; width: 100%; margin-bottom:20px;}
.search-sec h3{ font-size: 24px; line-height: 36px; color: #222;letter-spacing: 0.5px; }
.search-sec input{ border:1px solid #ddd; padding:10px; font-size: 15px; width: 100%;  }
.sch-btn{ background:#af1a10; color: #fff; width: auto !important; border:none !important; float: right; padding:6px 30px !important; border-radius: 4px; margin-top:20px;}
.search-sec ul{ list-style: none; padding:0px; margin:0 auto;}
.search-sec a{font-size: 15px; line-height: 36px; color: #555;transition: all ease-in-out 0.4s; -moz-transition: all ease-in-out 0.4s; -ms-transition: all ease-in-out 0.4s; -webkit-transition: all ease-in-out 0.4s;}
span.post-img{width: 42%; float: left; margin-bottom:10px; padding-right:15px;}
span.post-img img{width:100%;}
.search-sec p{ font-size: 17px; line-height: 24px; color: #222; margin-bottom:0px;}
.search-sec li{ float: left; width: 100%;}
.post a{color: #af1a10 !important;}
.blog-text h4{ border-left:3px solid #6baf28; font-size: 17px; line-height: 27px; font-style: italic; padding-left: 10px; margin-left: 10px; }
.blog-form{border: 1px solid #f6f6f6; box-shadow: 0px 0px 5px #f7f1f1;padding: 10px; float: left; width: 100%;}
.blog-form input{border:1px solid #ddd; padding:10px; width: 48%; float: left; margin-left: 10px; }
.blog-form textarea{ border:1px solid #ddd; padding:10px; width: 97%; float: left; margin-left: 10px; margin-top:20px; }
.blog-form .sch-btn{ float: right; width: auto !important; padding:6px 0px !important; text-align: center;  }
.search-sec a:hover{ color: #7cc24f }
.sch-btn:hover{ background:#333;}
.blog-form input{border: 1px solid #ddd; padding: 10px; width: 48%; float: left; margin-left: 10px;}
.blog-form textarea{border: 1px solid #ddd; padding: 10px; width: 97%; float: left; margin-left: 10px; margin-top: 20px;}


/*************Contact*************/
.contact-section{padding: 40px 0px;}
.icon-outer {display:flex; align-items:center; justify-content:center; width: 100px; height: 100px; border-radius: 50%; border: 8px solid #f1f1f1; font-size: 50px; color: #af1911; background: #fff;}
.contact-outer:hover .icon-outer{ background:#ef3b42; color: #fff;}
.contact-text h3{font-size:19px; color: #313131; font-weight: bold; line-height: 27px; margin:10px auto;}
.contact-text p, a{font-size:14px; color: #000; line-height: 22px;}
.map-section{ padding-bottom: 30px; }
.contact-form input, textarea{width: 100%; padding: 10px; margin-bottom: 20px; background: #f5f5f5; border: 1px solid #ccc; box-shadow: none;}
input.contact-btn{background: #af1911; width: auto; display: block; border-radius: 5px; margin-top: 20px; padding: 5px 40px; color: #fff; font-size: 22px; border: 1px solid #ef3b42;}
.contact-form textarea {height: 150px;}
.btn1:hover{background:#b01311; color:#FFF; text-decoration:none;}
.btn1.white:hover{background:#000; color:#fff;}
.btn1.red:hover{background:#000;}
.error{color: red !important;}